In [76]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

In [77]:
#붓꽃 데이터 읽어들이기
iris_data = pd.read_csv('./data/iris.csv', encoding="utf-8")
iris_data

     caseno  SepalLength  SepalWidth  PetalLength  PetalWidth    Species
0         1          5.1         3.5          1.4         0.2     setosa
1         2          4.9         3.0          1.4         0.2     setosa
2         3          4.7         3.2          1.3         0.2     setosa
3         4          4.6         3.1          1.5         0.2     setosa
4         5          5.0         3.6          1.4         0.2     setosa
..      ...          ...         ...          ...         ...        ...
145     146          6.7         3.0          5.2         2.3  virginica
146     147          6.3         2.5          5.0         1.9  virginica
147     148          6.5         3.0          5.2         2.0  virginica
148     149          6.2         3.4          5.4         2.3  virginica
149     150          5.9         3.0          5.1         1.8  virginica

[150 rows x 6 columns]

In [78]:
# 붗꽃 데이터를 레이블과 입력 데이터로 분리하기
# x[row_index,column_index] row_index => 인덱스를 슬라이싱해서 row를 결정
y = iris_data.loc[:,"Species"]
x = iris_data.loc[:,["SepalLength", "SepalWidth", "PetalLength", "PetalWidth"]]
print(x)
print(y)

     SepalLength  SepalWidth  PetalLength  PetalWidth
0            5.1         3.5          1.4         0.2
1            4.9         3.0          1.4         0.2
2            4.7         3.2          1.3         0.2
3            4.6         3.1          1.5         0.2
4            5.0         3.6          1.4         0.2
..           ...         ...          ...         ...
145          6.7         3.0          5.2         2.3
146          6.3         2.5          5.0         1.9
147          6.5         3.0          5.2         2.0
148          6.2         3.4          5.4         2.3
149          5.9         3.0          5.1         1.8

[150 rows x 4 columns]
0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: Species, Length: 150, dtype: object

In [79]:
#학습 전용과 테스트 전용 분리하기
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, train_size=0.8, shuffle=True)

In [80]:
# 학습하기
clf = SVC()
clf.fit(x_train, y_train)

SVC()

In [81]:
# 평가하기
y_pred = clf.predict(x_test)
print("정답률 : ", accuracy_score(y_test, y_pred))

정답률 :  1.0